
# PORT=8001
# NODE_ENV=development


# MONGO_URL=mongodb://localhost:27017
# DB_NAME=applystack


# JWT_SECRET=your-super-secure-secret-key


# REDIS_URL=redis://localhost:6379 


# RABBITMQ_URL=amqp://localhost:5672


# EMAIL_USER=your-email@gmail.com
# EMAIL_PASS=your-app-password


# CORS_ORIGINS=http://localhost:5173